<div class="animate__animated animate__fadeIn animate__fast">
<h2>Por país</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar país..."></app-pais-input>
    </div>
</div>

</div>

<ul class="list-group" *ngIf="mostrarSugerencias">
    <li *ngFor="let pais of paisesSugeridos"  class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/pais', pais.cca2]"> {{pais.name.common}}</a>
    </li>
    <li  class="list-group-item list-group-item-action">
        <a class="nav-link" (click)="buscarSugerido( termino )"> Buscar "{{termino}}"</a>
    </li>
</ul>

<hr>
<div *ngIf="hayError"
    class="alert alert-danger , animate__animated animate__bounceIn" >
    No se encontró nada con el termino {{ termino }}
</div>


<div  *ngIf="!hayError && paises.length > 0"  class="row ">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
